html {
	margin: 0;
	padding: 0;
	}
body { 
	background: #f7edff;
	background: linear-gradient(0deg, rgba(247, 237, 255, 1) 0%, rgba(234, 209, 255, 1) 50%, rgba(208, 191, 255, 1) 100%);
	font-family: 80% Georgia, serif;
	line-height: 1.88889;
	color: #000000; 
	margin: 0; 
	padding: 0;
	background-repeat: no-repeat;
    background-attachment: fixed;
	}
p { 
	font-family: Georgia, serif;
	margin-top: 0; 
	margin-bottom: 0; 
	color: #05011c;
	border-style: double;
	}
h1 {
	font-family: Georgia, serif;
	text-align: center;
	font-size: 24px;
	margin-bottom: 0; 
	color: #05011c;
	}
h2 { 
	font: italic normal 1.4em Georgia, serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #05011c;
	}
h3 { 
	font: normal 1.4em Georgia, serif;
	font-size: 14px;
	letter-spacing: 1px; 
	text-align: left;
	margin-bottom: 0; 
	color: #05011c;
	}
/* unvisited link */
a:link {
  color: ivory;
}

/* visited link */
a:visited {
  color: slateblue;
}

/* mouse over link */
a:hover {
  color: gold;
}

/* selected link */
a:active {
  color: blue;
}
