html {
	margin: 0;
	padding: 0;
	}
body { 
	background-color: #dad4fa;
	font-family: 80% Georgia, serif;
	line-height: 1.88889;
	color: #000000; 
	margin: 0; 
	padding: 0;
	}
p { 
	font-family: Georgia, serif;
	margin-top: 0; 
	text-align: justify;
	margin-bottom: 0; 
	color: #05011c;
	}
h1 {
	font-family: Georgia, serif;
	text-align: center;
	font-size: 24px;
	margin-bottom: 0; 
	color: #05011c;
	}
h2 { 
	font: italic normal 1.4em Georgia, serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #05011c;
	}
h3 { 
	font: italic normal 1.4em Georgia, serif;
	font-size: 14px;
	letter-spacing: 1px; 
	text-align: left;
	margin-bottom: 0; 
	color: #05011c;
	}
