html {
	margin: 0;
	padding: 0;
	}
head {
	font-family: Tahoma, Verdana, sans-serif;
	text-align: center;
}
body { 
	background-color: #dad4fa;
	font-family: 80% Tahoma, Verdana, sans-serif;
	line-height: 1.88889;
	color: #000000; 
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em Tahoma, Verdana, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
